/*  Dark File Browser 1.0.0 by Felix

        A dark theme for File Browser

                homepageURL:    https://github.com/iFelix18/Dark-File-Browser
                supportURL:     https://github.com/iFelix18/Dark-File-Browser/issues
                license:        CC-BY-SA-4.0
*/
@import "partials/_variables.scss";
@import "partials/_version.scss";
@import "partials/_login.scss";
@import "partials/_header.scss";
@import "partials/_nav.scss";
@import "partials/_body.scss";
@import "partials/_listing.scss";
@import "partials/_card-floating.scss";
@import "partials/_editor.scss";
@import "partials/_search.scss";
@import "partials/_settings.scss";
